include /blocks/header/header.pug
include /blocks/footer/footer.pug
include /blocks/yandex-metrika/yandex-metrika.pug
include /blocks/google-tag/google-tag.pug
include /blocks/svg/svg.pug

doctype html
html(lang="ru")
    head
        block title
            title Title layout main.pug
        
        meta(name="robots", content="noindex")

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, user-scalable=0, initial-scale=1')
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        //- link(
        //-     rel='shortcut icon',
        //-     href='favicon.ico',
        //- )
        link(
            rel='icon',
            type='image/png',
            sizes='32x32',
            href='images/favicon-32x32.png',
        )
        link(
            rel='icon',
            type='image/png',
            sizes='192x192',
            href='images/favicon-192x192.png',
        )
        link(
            rel='apple-touch-icon-precomposed',
            href='images/apple-touch-icon.png',
        )
        meta(name='theme-color', content='#191919')
        link(
            rel='manifest',
            href='manifest.json',
        )

        block meta
            meta(
                name='description',
                content='ParnasAuto',
            )

    body
        .page.page--not-loaded
            block header
                +header()
                
            main
                block content

            block footer
                +footer()
        +yandex-metrika()
        +google-tag()
    //- script(src="//api-maps.yandex.ru/2.1/?lang=ru-RU")

        