//- mixin icon(id, width=24, height=24, fill='black', stroke=null)
mixin svg-sprite(file, width, height, fill, stroke)
    svg(
        width=width,
        height=height,
        role='img',
        viewbox='0 0 ' + width + ' ' + height,
    )&attributes(attributes)
        use(xlink:href=file.url, fill=fill, stroke=stroke)

mixin svg-inline(content, width, height, fill, stroke)
    svg(
        width=width,
        height=height,
        role='img',
        fill=fill,
        stroke=stroke,
        viewbox='0 0 ' + width + ' ' + height,
    )&attributes(attributes)
        != content

mixin svg-img(path, width, height)
    img(
        width=width,
        height=height,
        src=path,
    )&attributes(attributes)